// _card.scss
// Jordan Brauer <jbrauer.inc@gmail.com>

.card {
  -webkit-transition: $card_transition;
  transition: $card_transition;
  margin: $card_margin;
  padding: $card_padding;
  border: $card_border;
  box-shadow: $card_box_shadow;
  background: $card_background;

  // medium an up screens
  @media screen and (min-width: 40em) {
    margin: $card_medium_margin;
  }

  &:hover {
    margin: $card_hover_margin;
    box-shadow: $card_hover_box_shadow;

    .card-image img {
      -webkit-filter: $card_hover_card_image_filter;
      filter: $card_hover_card_image_filter;
    }
  }
}

.card-info {
  .button-group.expanded {
    margin-bottom: $card_info_expanded_button_group_margin_bottom;
  }

  .card-info-text {
    text-align: $card_info_text_text_align;
    padding: $card_info_text_padding;
  }
}

.card-image {
  min-height: $card_image_min_height;
  margin-bottom: $card_image_margin_bottom;
  position: $card_image_position;
  overflow: $card_image_overflow;

  &.padded {
    padding: $card_image_padded_padding;
  }

  img {
    -webkit-transition: $card_transition;
    transition: $card_transition;
    -webkit-filter: $card_image_filter;
    filter: $card_image_filter;
    width: $card_image_width;
  }

}
