      <footer>
        <div class="row column">
          <hr>
        </div> <!-- /.row -->
        <div class="row">
          <div class="columns small-12 medium-6 large-6">
            {% include social.html %}
          </div>
          <div class="columns small-12 medium-6 large-6">
            <p class="medium-text-right">Jordan Brauer 2016 &copy;</p>
          </div>
        </div> <!-- /.row -->
      </footer>
    </div> <!-- /#grid -->
    <!-- scripts -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" integrity="sha256-0rguYS0qgS6L4qVzANq4kjxPLtvnp5nn2nB5G1lWRv4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.js" integrity="sha256-orE03LSc9KVys7WmCWaOa5LauIvfUpJeaiKbggQBB+8=" crossorigin="anonymous"></script>
    <script type="text/javascript">
      $(document).foundation();
    </script>
    <!-- include google analytics -->
    {% include analytics.html %}
  </body>
</html>
