<!doctype html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    <meta charset="utf-8">
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
    <meta name="author" content="{{ site.name }}">

    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}">
    <meta property="twitter:title" content="{{ page.title }}">
    {% endif %}

    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt | strip_html }}">
    <meta property="og:description" content="{{ page.excerpt | strip_html }}">
    {% else %}
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}">
    {% endif %}

    <!-- sitemap -->
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml">

    <!--[if lt IE 9]>
    <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- normalize.min.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" integrity="sha256-t2/7smZfgrST4FS1DT0bs/KotCM74XlcqZN5Vu7xlrw=" crossorigin="anonymous">
    <!-- foundation.min.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation-flex.min.css" integrity="sha256-ysU01HJ2jZTp1Ub4madABiODkiMk7oU8DL9/V0YfbXQ=" crossorigin="anonymous">
    <!-- app.css -->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/app.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
    <!-- font-awesome.js -->
    <script src="https://use.fontawesome.com/c477074d77.js"></script>
  </head>
  <body>
    <div class="grid">
      <header>
        <div class="row">
          <div class="columns small-12 medium-6 large-6">
            <div class="media-object">
              <div class="media-object-section">
                <a href="{{ site.baseurl }}/">
                  <img class="thumbnail" src="{{ site.avatar }}" alt="{{ site.description }}" width="96px">
                </a>
              </div>
              <div class="media-object-section">
                <h1>
                  {{ site.name }}
                  <br>
                  <small class="subheader">{{ site.description }}</small>
                </h1>
              </div>
            </div>
          </div>
          <!--
          <div class="columns small-12 medium-6 large-6">
            <nav>
              <ul class="horizontal menu align-right">
                <li><a href="{{ site.baseurl }}/">About</a></li>
                <li><a href="{{ site.baseurl }}/">Blog</a></li>
                <li><a href="{{ site.baseurl }}/">Portfolio</a></li>
                <li><a href="{{ site.baseurl }}/">Contact</a></li>
              </ul>
            </nav>
          </div>
          -->
        </div><!-- /.row -->
      </header>
