<!doctype html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    <meta charset="utf-8">
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
    <meta name="author" content="{{ site.name }}">

    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}">
    <meta property="twitter:title" content="{{ page.title }}">
    {% endif %}

    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt | strip_html }}">
    <meta property="og:description" content="{{ page.excerpt | strip_html }}">
    {% else %}
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}">
    {% endif %}

    <!--[if lt IE 9]>
    <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/vendor.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/jbrauer.css">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml">
  </head>
  <body>
    <div id="grid">
      <!-- navbar -->
      <div class="row expanded">
        <nav data-sticky-container>
          <div class="top-bar" data-sticky data-margin-top="0" data-margin-bottom="32" style="width:100%;" data-top-anchor="1" data-btm-anchor="grid:bottom">
            <div class="top-bar-left">
              <ul class="horizontal menu">
                <li {% if page.title == 'About' %}class="active"{% endif %}><a href="{{ site.baseurl }}/About">About</a></li>
                <li {% if page.title == 'Blog' %}class="active"{% endif %}><a href="{{ site.baseurl }}/">Blog</a></li>
                <li {% if page.title == 'Portfolio' %}class="active"{% endif %}><a href="{{ site.baseurl }}/">Portfolio</a></li>
                <li {% if page.title == 'Contact' %}class="active"{% endif %}><a href="{{ site.baseurl }}/">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div> <!-- /.row.col -->

      <!-- jumbotron -->
      <div class="row expanded">
        <header id="header">
          <div class="row collapse">
            <div class="columns small-12 medium-6 large-6">
              <a class="avatar thumbnail" href="{{ site.baseurl }}/">
                <!-- <img class="thumbnail" src="{{ site.avatar }}" alt="" width="128px"> -->
                <img src="/images/logo/jbrauer-alt-logo.png" alt="" width="128px">
              </a>
            </div>
            <div class="columns small-12 medium-6 large-6">
              <h1>{{ site.name }}</h1>
              <h2 class="subheader">{{ site.description }}</h2>
            </div>
          </div>
          <!-- <div class="row">
            <div class="columns small-12 medium-12 large-2">
            </div>
            <div class="columns small-12 medium-12 large-10">
            </div>
          </div> -->
        </header>
        <hr>
      </div> <!-- /.row.col -->


      <!-- <div class="row column paper"> -->
