<!-- social -->
<h4>Find me on the web:</h4>
{% if site.social-media.email %}<a href="mailto:{{ site.social-media.email }}"><i class="svg-icon email"></i></a>{% endif %}
{% if site.social-media.github %}<a href="https://github.com/{{ site.social-media.github }}"><i class="svg-icon github"></i></a>{% endif %}
{% if site.social-media.twitter %}<a href="https://www.twitter.com/{{ site.social-media.twitter }}"><i class="svg-icon twitter"></i></a>{% endif %}
{% if site.social-media.linkedin %}<a href="https://www.linkedin.com/in/{{ site.social-media.linkedin }}"><i class="svg-icon linkedin"></i></a>{% endif %}
{% if site.social-media.googleplus %}<a href="https://plus.google.com/{{ site.social-media.googleplus }}"><i class="svg-icon googleplus"></i></a>{% endif %}
{% if site.social-media.stackoverflow %}<a href="http://stackoverflow.com/{{ site.social-media.stackoverflow }}"><i class="svg-icon stackoverflow"></i></a>{% endif %}
{% if site.social-media.instagram %}<a href="https://instagram.com/{{ site.social-media.instagram }}"><i class="svg-icon instagram"></i></a>{% endif %}
{% if site.social-media.facebook %}<a href="https://www.facebook.com/{{ site.social-media.facebook }}"><i class="svg-icon facebook"></i></a>{% endif %}
{% if site.social-media.youtube %}<a href="https://youtube.com/{{ site.social-media.youtube }}"><i class="svg-icon youtube"></i></a>{% endif %}
{% if site.social-media.pinterest %}<a href="https://www.pinterest.com/{{ site.social-media.pinterest }}"><i class="svg-icon pinterest"></i></a>{% endif %}
{% if site.social-media.rss %}<a href="{{ site.baseurl }}/feed.xml"><i class="svg-icon rss"></i></a>{% endif %}
{% if site.social-media.flickr %}<a href="https://www.flickr.com/{{ site.social-media.flickr }}"><i class="svg-icon flickr"></i></a>{% endif %}
{% if site.social-media.dribbble %}<a href="https://dribbble.com/{{ site.social-media.dribbble }}"><i class="svg-icon dribbble"></i></a>{% endif %}
