html,
body {
  font: $global_font !important;
  color: $global_font_color;
  background: $global_background;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $global_font_family !important;
}

h1 {
  font-size: $h1_font_size;
}

h2 {
  font-size: $h2_font_size;
}

.header {
  margin: $header_margin;
  padding: $header_padding;

  h1 {
    font-size: $header_h1_font_size;
  }

  h2 {
    font-size: $header_h2_font_size;
    margin: $header_h2_margin;
  }
}

.main {
  // ... no styles needed.
}

.footer {
  margin: $footer_margin;
  padding: $footer_padding;
  background: $footer_background;
}
