@import 'variables';
@import 'header';
@import 'md-card';

html {

}
body {
  // color: #fff;
  // background: url(images/bg/wpgmb_human_rights_museum.jpg) no-repeat center center fixed;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -ms-background-size: cover;
  // background-size: cover;
}
#grid {
  // background: rgba(0,0,0,0.75);
}

.avatar {
  display: inline-block;
  height: 128px;
  width:128px;
  max-width: 128px;
  max-height: 128px;
  // background: rgba(255,255,255, 0.75);
  background: #fff;
  position: relative;
  //
  img {
    width: 100%;
    height: auto;
    position: absolute;
    padding: 0.5rem;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.post.card {
  padding: 1rem;
  margin: 0 auto 2rem auto;
}

.paper {
  background: #fff;
  // max-width: 1170px;
  // -webkit-border-radius: 0.25rem;
  // border-radius: 0.15rem;
  // padding: 1rem;
  // margin-top: 1rem;
  // margin-bottom: 1rem;
  // box-shadow: 0.25rem 0.25rem 2rem #222;
}

header {
  // text-align: center;
  padding: 1em;
  background: url(images/bg/wpgmb_human_rights_museum.jpg) no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  // border-bottom-right-radius: 0.15rem;
  // border-bottom-left-radius: 0.15rem;
  // box-shadow: 0.25rem 0.25rem 2rem #222;

  a {
  }

  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
    margin-bottom:0;
  }
}
