@import 'variables';
// @import 'header';
// @import 'md-card';

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

html,
body {
  font-family: 'Lato', sans-serif !important;
  color: #888;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif !important;
}
h1 {
  font-size: 1.75rem;
}
h2 {
  font-size: 1.5rem;
}

header {
  // background: #efefef;
  margin: 0 0 4rem 0;
  padding: 1rem 0 1rem 0;

  h1 {
    font-size: 1.55rem;
  }
  h2 {
    font-size: 1.25rem;
    margin-bottom:0;
  }
}
main{
  &.main {

  }
}
footer {
  margin: 4rem 0 0 0;
  padding: 1rem 0 1rem 0;
  background: #efefef;
}

.logo {
  // padding: 1rem;
  img {
    max-width: 176px;
    @media screen and (max-width: 40em) {
      margin: 0 0 1.25rem 0;
    }
  }
}
