.fa-align-middle { vertical-align: middle; }

.buffer-top-4 { margin-top: 4rem; }
.buffer-btm-1 { margin-bottom: 1rem; }

// medium an up screens
@media screen and (min-width: 40em) {
  .medium-text-right { text-align: right; }
  .medium-text-left { text-align: left; }

}
