---
layout: default
---

<!-- {% for i in (1..10) %}
<h2>Lorem Ipsum {{ i }}</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
{% endfor %} -->

<div class="row">
  <div class="columns small-12 medium-12 large-12">
    <article class="post">

      <!-- post title, category, publish date & author -->
      <h1>{{ page.title }} <small>– in {{ page.category }}</small></h1>

      <!-- post content -->
      <div class="entry">
        {{ content }}
      </div>

      <!-- post publish date & author -->
      <p class="date">
        Published on {{ page.date | date: "%B %e, %Y" }} by {{ page.author }}
      </p>

      <!-- post tags -->
      {% if page.tags %}
      <p class="tags">
        Tags:
        {% for tag in page.tags %}
        <span class="label">{{ tag }}</span>
        {% endfor %}
      </p>
      {% endif %}

      <!-- discuss -->
      {% if site.discuss %}
      {% include disqus.html %}
      {% endif %}

    </article>
  </div>
</div>
